*{
  padding:0;
  margin:0;
}
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            margin-top: 268px;
            font-size: larger;
            font-weight: 500;
            background-color: lightblue;
            color: black;
        }
  
